h1 {
      font-family: "Playfair Display", serif;
      color: #011C27;
      font-weight: bold;
      text-align: center;
  }

  hr {
    width: 50%;
  }
  
  h3 {
      padding: 0px 30px 0px 30px;
      font-family: "Playfair Display", serif;
      color: #011C27;
  }
  
  p {
      padding: 0px 30px 0px 30px;
      font-family: "Assistant", serif;
      color: #011C27;
  }

  li {
    font-family: "Assistant", serif;
    color: #011C27;
}

  mark {
    background-color: #ececec;
    color: #000000;
    font-family: "Courier Prime", serif;
  }
  
footer {
      padding: 0px 30px 0px 30px;
      font-family: "Assistant", serif;
      color: #011C27;
      display: table-row;
      font-size: 12px;
  }
  
  form
  {
      padding: 0px 30px 0px 30px;
  }
  